In [1]:
import numpy as np
import pandas as pd

In [15]:
type(np)

module

In [2]:
a = np.array([10,20,30,40])

In [3]:
a[1]

20

In [5]:
b = pd.DataFrame([50,60,70,80])

In [9]:
b.iloc[1]

0    60
Name: 1, dtype: int64

In [16]:
b[:][0]

0    50
1    60
2    70
3    80
Name: 0, dtype: int64

In [19]:
b[0][:]

0    50
1    60
2    70
3    80
Name: 0, dtype: int64

In [21]:
b = np.array([[1,2,3],[4,5,6]])

In [22]:
b

array([[1, 2, 3],
       [4, 5, 6]])

In [23]:
c = pd.DataFrame([[1,2,3],[4,5,6]])

In [24]:
c

   0  1  2
0  1  2  3
1  4  5  6

In [28]:
b[0,1]

2

In [29]:
c.iloc[0,1]

2

In [30]:
b[0,2]

3

In [31]:
c.iloc[0,2]

3

In [10]:
import numpy as np
l = np.linspace(-5,5,10)
arr = l.reshape((2,5))
print(l)
print(arr)

[-5.         -3.88888889 -2.77777778 -1.66666667 -0.55555556  0.55555556
  1.66666667  2.77777778  3.88888889  5.        ]
[[-5.         -3.88888889 -2.77777778 -1.66666667 -0.55555556]
 [ 0.55555556  1.66666667  2.77777778  3.88888889  5.        ]]

In [11]:
np.where(arr > 0, arr, 'neg')

array([['neg', 'neg', 'neg', 'neg', 'neg'],
       ['0.5555555555555554', '1.666666666666667', '2.7777777777777786',
        '3.8888888888888893', '5.0']], dtype='<U32')